@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&family=Moo+Lah+Lah&family=Oswald:wght@300&family=Pacifico&family=Permanent+Marker&family=Poppins:wght@300;400;500;600&family=Qwitcher+Grypen:wght@700&display=swap');


/* active Nav */

.activenav{
    background-color: yellowgreen;
    border-radius: 100%;
}

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;


}

:root {
    --color-bg: #1f1f38;
    --color-bg-variant: #2c2c6c;
    --color-primary: #4db5ff;
    --color-primary-variant: rgba(77, 181, 255, 0.4);
    --color-white: #fff;
    --color-light: rgba(255, 255, 255, 0.6);
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background: var(--color-bg);
    color: var(--color-white);
    line-height: 1.7;

}

